---
import Badge from "@/components/Badge.astro"
import Card from "@/components/Card.astro"
import Supabase from "@/icons/supabase.svg"
import { projects } from "@data"
import { Icon } from "astro-icon/components"

interface Props {
	class: string
	delay: string
}

const { class: className, delay } = Astro.props
const { data, title } = projects
---

<Card class:list={className} delay={delay}>
	<div class="flex flex-col justify-center gap-1">
		<h2
			class="mb-2 inline-flex items-center justify-between text-2xl font-bold">
			<span>{title}</span>
			<!-- <a href="/proyectos">
				<Icon name="arrow-top-right" class="size-5 hover:opacity-75" />
			</a> -->
		</h2>
		{
			data.map(({ name, description, url, github, technologies }, i) => (
				<>
					<div class="flex flex-wrap items-center gap-2 text-sm">
						<div class="inline-flex w-full items-center justify-between">
							<h3 class="text-base font-bold text-neutral-100">{name}</h3>
							<div class="inline-flex items-center gap-2">
								{github && (
									<a
										class="group inline-flex items-center gap-2 text-neutral-100"
										href={github}
										target="_blank">
										<span class="transition-opacity group-hover:opacity-75">
											<Icon name="github" class="size-5" />
										</span>
									</a>
								)}
								{url && (
									<a
										class="group inline-flex items-center gap-2 text-neutral-100"
										href={url}
										target="_blank">
										<span class="transition-opacity group-hover:opacity-75">
											<Icon name="link" class="size-5" />
										</span>
									</a>
								)}
							</div>
						</div>
						<p
							class="mb-2 text-sm text-pretty text-neutral-300"
							set:html={description}
						/>
					</div>
					<div class="flex flex-wrap items-center gap-2">
						{technologies?.map(({ label, icon, custom }) => (
							<Badge name={label} class="text-xs">
								{icon === "supabase" ? (
									<Supabase class={custom} />
								) : (
									<Icon name={icon} class={custom} />
								)}
							</Badge>
						))}
					</div>
					{data.length - 1 > i && (
						<div class="m-2 h-[0.5px] rounded-full bg-neutral-300/10" />
					)}
				</>
			))
		}
	</div>
</Card>
