---
import Badge from '@components/Badge.astro'
import Card from '@components/Card.astro'
import { projects } from '@data'
import { Icon } from 'astro-icon/components'

interface Props {
  class: string
  delay: string
}

const { class: className, delay } = Astro.props
const { data, title } = projects
---

<Card class:list={className} delay={delay}>
  <div class="flex flex-col justify-center gap-1">
    <h2
      class="mb-2 inline-flex items-center justify-between text-2xl font-bold">
      <span>{title}</span>
      <Icon name="arrow-top-right" class="size-5 hover:opacity-75" />
    </h2>
    {
      data
        ?.slice(0, 2)
        .map(
          (
            { name, description, url, github, figma, highlights, technologies },
            i
          ) => (
            <>
              <div class="flex flex-wrap items-center gap-2 text-sm">
                <div class="inline-flex w-full items-center justify-between">
                  <h3 class="text-base font-bold text-dark dark:text-light">
                    {name}
                  </h3>
                  <div class="inline-flex items-center gap-2">
                    {github && (
                      <a
                        class="group inline-flex items-center gap-2 text-dark dark:text-light"
                        href={github}
                        target="_blank">
                        <span class="transition-opacity group-hover:opacity-75">
                          <Icon name="github" class="size-5" />
                        </span>
                      </a>
                    )}
                    {figma && (
                      <a
                        class="group inline-flex items-center gap-2 text-dark dark:text-light"
                        href={figma}
                        target="_blank">
                        <span class="transition-opacity group-hover:opacity-75">
                          <Icon name="figma" class="size-5" />
                        </span>
                      </a>
                    )}
                    {url && (
                      <a
                        class="group inline-flex items-center gap-2 text-dark dark:text-light"
                        href={url}
                        target="_blank">
                        <span class="transition-opacity group-hover:opacity-75">
                          <Icon name="link" class="size-5" />
                        </span>
                      </a>
                    )}
                  </div>
                </div>
                <p class="text-pretty">{description}</p>
                <ul class="flex flex-col">
                  <span class="mb-1 font-semibold text-dark dark:text-light">
                    Progreso actual:
                  </span>
                  {highlights?.map(li => (
                    <li class="mb-1 ml-4 list-disc">{li}</li>
                  ))}
                </ul>
              </div>
              <div class="flex flex-wrap items-center gap-2">
                {technologies?.map(({ label, icon, custom }) => (
                  <Badge name={label} class="text-xs">
                    <Icon name={icon} class:list={custom} />
                  </Badge>
                ))}
              </div>
              {i != 1 && (
                <div class="m-2 h-[0.5px] rounded-full bg-dark/10 dark:bg-light/10" />
              )}
            </>
          )
        )
    }
  </div>
</Card>
