---
import Card from "@/components/Card.astro"
import { education } from "@data"

interface Props {
	class: string
	delay: string
}

const { class: className, delay } = Astro.props
const { title, data } = education
---

<Card class:list={className} delay={delay}>
	<div class="flex flex-col justify-center md:gap-4">
		<h2 class="mb-2 text-2xl font-bold">{title}</h2>
		<div class="flex flex-wrap items-center justify-center gap-2 text-sm">
			{
				data.map(({ title, url }) => (
					<a
						href={url}
						target="_blank"
						class="rounded-2xl border border-neutral-800 bg-neutral-900 px-2 py-1 text-neutral-300 transition-colors hover:opacity-75">
						{title}
					</a>
				))
			}
		</div>
	</div>
</Card>
