---
import Footer from '@components/Footer.astro'
import Navegation from '@components/Navegation.astro'
import '@fontsource/poppins'
import ViewTransitions from 'astro/components/ViewTransitions.astro'

interface Props {
  title?: string
  description?: string
  img?: string
}

const {
  title = 'Olivarez Alexis - Front End Developer',
  description = 'Portafolio donde verás mis proyectos',
  img = 'me.webp'
} = Astro.props
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={img} />
    <meta property="og:url" content="https://alexisxde.github.io" />
    <meta property="og:type" content="website" />
    <ViewTransitions />
  </head>
  <body
    class="mx-auto my-0 max-w-6xl bg-light text-dark transition-colors dark:bg-dark dark:text-light">
    <Navegation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
  }

  #sobre-mi,
  #inicio {
    scroll-margin-top: 100px;
  }

  button,
  a,
  input:focus {
    outline: none;
  }
</style>
